* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: lightblue;
}
header {
  padding: 10px 4% 10px;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgb(0, 187, 187);
  display: flex;
  align-items: center;
  opacity: 0.7;
  border: 1px solid;
  border-color: rgb(15, 124, 124);
  border-top: transparent;
  border-left: transparent;
}
h1 {
  margin: 0; padding: 0;
  font-size: 20px;
}
a {	
  text-decoration: none;
  color: #4b4b4b;
}
nav {
  margin: 0 0 0 auto;
}
ul {
  list-style: none;
  margin: 0;
  display: flex;
}
li {
  margin: 0 0 0 15px;
  font-size: 14px;
}


canvas {
    margin-right: auto;
    margin-left : auto;
    margin-top: 55px;
    margin-bottom : auto;
    display: block;
}
#GAMEOVER{
  margin-right: auto;
    margin-left : auto;
    margin-top: auto;
    margin-bottom : auto;
    display: block;
}
#start{
  color: rgb(15, 124, 124);
  border-radius: 50px;
  border: solid 3px;
  outline: none;
  position: fixed;
    right: 10px;
    bottom: 0px;
    widows: 100px;
    height: 100px;
}
